.jumbotron {
  background-color:#444;
  color:white;
}
.App {
  background-color:#303030;
}

p,
h1,h2,h3,h4 {
  color:#fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color:#303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color:#FFF;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#FFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
